html {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(30, 30, 30);
    font-size: 12pt
}

:root {
  --main-bg-color: rgb(44, 156, 156);
  --main-text-color: white;
}

div,
input{
    font-size: 12pt
}

body {
    min-width: 700px;
    width: 70%;
    margin: auto;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.item{
    margin-top: 8px;
    margin-bottom: 8px;
    max-width: 200px;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-weight: 600;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.input {
    margin-top: 8px;
    margin-bottom: 8px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 1px;
    border-bottom-color: rgb(200, 200, 200);
}

.input:focus {
    border-bottom-width: 2px;
    border-bottom-color: var(--main-bg-color);
}

.clickable {
    cursor: pointer;
    user-select: none;
}

.btn-add {
    color: var(--main-bg-color);
}