<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>This is a test</title>
    <meta name="description" content="Test app">
    <meta name="author" content="Richard Misiak">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div id="app">
        <h3>
            You have {{items.length}} {{items.length === 1 ? 'item' : 'items'}}
        </h3>
        <div class="item" v-for="(item, index) in items">
            <div>{{item.text}}</div>
            <i v-on:click="remove(index)" class="fas fa-times clickable"></i>
        </div>
        <input class="input" v-model="input" v-on:keyup.enter="submit()">
        <i v-if="isInputValid()" class="fas fa-plus clickable btn-add" v-on:click="submit()"></i>
    </div>

    <script src="js/app.js"></script>
</body>

</html>